body {
    background:#FFF4DC ;
}

h1, p{
    text-align: center;
  
}

    
    .navigation-links {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        text-decoration: none
        ;

    }
.croissant {
    max-width: 100%;
    width: 600px;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}
.email {
    display: flex;
    justify-content: center;
    margin: 10px;
    text-decoration: none;
}

.email:hover {
    text-decoration: underline;
}

